
.App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    text-align: center;
    background-color: #2e1c2b;
    color: #edf2f4;  
}